@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    padding: 5vw 5vw 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 49px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.logo__left {
    border-radius: 20px;
    background-color: #9C69E2;
    height: 50%;
    width: 20px;
}

.logo__right {
    border-radius: 20px;
    background-color: #F063B8;
    height: 100%;
    width: 20px;
}

.navigation__list {
    display: none;
}

.hamburger {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line1, .line2, .line3 {
    height: 5px;
    width: 100%;
    background-color: #9C69E2;
}

.promo {
    padding: 15vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__heading {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    color: #212353;
}

.promo__text {
    text-align: center;
    margin-top: 5vw;
    font-size: 4vw;
    font-weight: 500;
    color: #4B5D68;
}

.promo__link {
    width: 40vw;
    margin-top: 5vw;
    text-align: center;
    font-size: 4vw;
    font-weight: 800;
    color: #fff;
    padding: 4vw;
    background-color: #9C69E2;
    border-radius: 50px;
}

.promo__link:hover {
    background-color: #FFF;
    color: #9C69E2;
    border: 2px solid #9C69E2;
    transition: 1s;
    transform: scale(0.8);
}

.promo__image {
    margin-top: 10%;
    width: 100%;
}

.about {
    margin-top: 5%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F063B826;
    border-radius: 50px;
}

.about__heading {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    color: #212353;
}

.about__text {
    text-align: center;
    margin-top: 10%;
    font-size: 4vw;
    font-weight: 500;
    color: #4B5D68;
}

.about__link {
    width: 40%;
    align-self: center;
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    padding: 15px 30px;
    background-color: #9C69E2;
    border-radius: 50px;
}

.about__image {
    margin-top: 10%;
    width: 100%;
}

.features {
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
}

.features__heading {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    color: #212353;
}

.features__text {
    text-align: center;
    margin-top: 10%;
    font-size: 4vw;
    font-weight: 500;
    color: #4B5D68;
}

.features__container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature {
    padding: 10% 5%;
    border: 2px solid #9C69E2;
    border-radius: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__heading {
    margin-top: 5%;
    font-size: 5vw;
    font-weight: 600;
    color: #212353;
}

.feature__text {
    margin-top: 5%;
    font-size: 4vw;
    font-weight: 400;
    color: #4B5D68;
}

.feature__link {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feature__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.feature__image {
    width: 80vw;
}

.feature__link__left {
    font-size: 5vw;
    font-weight: 500;
    color: #212353;
}

.feature__link__right {
    margin-left: 0.7vw;
    width: 7.4vw;
    height: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.arrow__line1 {
    transform: rotate(45deg);
    width: 2vw;
    height: 2vw;
    background-color: #9C69E2;
}

.arrow__line2 {
    width: 7vw;
    height: 2vw;
    background-color: #9C69E2;
    align-self: flex-start;
}


.arrow__line3 {
    transform: rotate(-45deg);
    width: 2vw;
    height: 2vw;
    background-color: #9C69E2;
}



.testimonials {
    padding: 5% 10%;
    border-radius: 50px;
    background-color: #9C69E2;
    margin-bottom: 10%;
}

.testimonials__heading {
    margin-top: 5%;
    font-size: 6vw;
    color: #fff;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #fff;
    padding: 5% 10%;
}


.testimonial__image {
    height: 20vw;
    width: 20vw;
}

.testimonial__author {
    margin-top: 5%;
    text-align: center;
    font-size: 4vw;
    font-weight: 900;
    color: #212353;
}

.testimonial__contact {
    text-align: center;
    font-size: 3.2vw;
    font-weight: 500;
    color: #9C69E2;
}

.testimonial__text {
    margin-top: 5%;
    text-align: center;
    font-size: 3.6vw;
    font-weight: 400;
    color: #4B5D68;
}

.testimonials__switch-wrapper {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.testimonials__indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 13vw;
    height: 1.3vw;
}

.circle {
    width: 2vw;
    height: 2vw;
    background-color: #FFF;
    border-radius: 50%;
}

.circle--active {
    width: 3vw;
    height: 3vw;
    background-color: #F063B8;
    border-radius: 50%;
}

.testimonials__switch {
    width: 18vw;
    height: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.switch__previous {
    width: 10vw;
    height: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.switch__next {
    width: 5vw;
    height: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}


.previous__line1 {
    transform: rotate(-45deg);
    width: 2.4vw;
    height: 0.5vw;
    background-color: #FFF;
}

.previous__line2 {
    width: 9.4vw;
    height: 0.5vw;
    background-color: #FFF;
    align-self: flex-end;
}


.previous__line3 {
    transform: rotate(45deg);
    width: 2.4vw;
    height: 0.5vw;
    background-color: #FFF;
}

.next__line1 {
    transform: rotate(45deg);
    width: 2.4vw;
    height: 0.5vw;
    background-color: #FFF;
}

.next__line2 {
    width: 4.4vw;
    height: 0.5vw;
    background-color: #FFF;
    align-self: flex-start;
}


.next__line3 {
    transform: rotate(-45deg);
    width: 2.4vw;
    height: 0.5vw;
    background-color: #FFF;
}

.logo__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo__text {
    margin-left: 3%;
    font-size: 4vw;
    font-weight: 900;
    color: #212353;
}

.footer__line {
    background-color: #9C69E2;
}

.footer__header {
    margin: 5% 10%;
}


.footer__bottom {
    margin: 5% 10%;
}

.social-media {
    margin-top: 5%;
}

.social-media__heading {
    font-size: 3.6vw;
    color: #212353;
    font-weight: 900;
}


.social-media__icons{
    margin-top: 5%;
}

.social-media__icon{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

.social-media__icon:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.address {
    font-size: 3.6vw;
    font-weight: 500;
    color: #212353;
}

.contacts {
    font-size: 3.6vw;
    font-weight: 400;
    color: #212353;
    margin-top: 5%;
}

.copyright {
    font-size: 3.2vw;
    font-weight: 400;
    color: #212353;
    margin-top: 5%;
}

@media(min-width: 768px) {
    .hamburger{
        display: none;
    }

    .header {
        justify-content: flex-start;
    }

    .navigation__list {
        width: 15vw;
        margin-left: 6vw;
        display: flex;
        justify-content: space-between;
    }

    .navigation__item {
        width: 3vw;
    }


    .navigation__link {
        font-size: 1vw;
        font-weight: 500;
        color: #4B5D68;
    }

    .navigation__link:hover {
        font-weight: 800;
        color: #212353;
    }

    .promo {
        padding: 5%;
    }
    
    .promo__heading {
        align-self: flex-start;
        font-size: 36px;
    }
    .promo__text {
        font-size: 24px;
        margin-top: 5%;
        text-align: left;
    }

    .promo__link {
        align-self: flex-start;
        margin-top: 5%;
        width: 20%;
    }



    .header {
        height: 10vh;
        padding: 5vh 15vw 0 15vw;
    }

    .promo {
        padding: 5vw 15vw 0 15vw;
        flex-direction: row;
        height: 38vw;
        justify-content: space-between;
        align-items: center;
    }

    .promo__left {
        width: 14vw;
        align-self: flex-start;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .promo__right {
        height: 100%;
        width: 61vw;
        display: flex;
        align-items: flex-end;
        position: relative;
        top: 0;
    }

    .promo__heading{
        line-height: 5.5vw;
        width: 45vw;
        font-size: 5vw;
        font-weight: 700;
        text-align: left;
    }

    .promo__text{
        text-align: left;
        align-self: flex-start;
        height: 16vh;
        width: 26vw;
        font-size: 1.2vw;
        font-weight: 500;
        margin-top: 3vw;
        line-height: 1.6vw;
    }

    .promo__link{
        font-size: 1.2vw;
        line-height: 2vw;
        width: 8vw;
        margin-top: 3vw;
        padding: 1.1vw 2.5vw;
        border-radius: 3vw;
    }

    .promo__image {
        margin: 0;
        align-self: flex-end;
        justify-self: flex-end;
        width: 100%;
    }

    .about {
        margin: 5vw 15vw;
        padding: 5vw 5vw;
        flex-direction: row;
        justify-content: center;
    }

    .about__left {
        flex-basis: 50%;
    }

    .about__right {
        flex-basis: 50%;
    }

    .about__image {
        margin: 0;
        width: 32vw;
        height: 32vw;
    }

    .about__heading {
        line-height: 3.6vw;
        width: 35vw;
        height: 7vw;
        font-size: 3vw;
        font-weight: 700;
        text-align: left;
    }

    .about__text {
        margin-top: 3vw;
        width: 35vw;
        height: 12vw;
        line-height: 2vw;
        font-size: 1.2vw;
        font-weight: 500;
        text-align: left;
    }


    .features {
        padding: 0;
        margin: 5vw 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .features__heading {
        font-weight: 700;
        font-size: 2.8vw;
        line-height: 3.6;
    }

    .features__text {
        text-align: center;
        width: 40vw;
        height: 4vw;
        font-weight: 500;
        font-size: 1.2vw;
        margin-top: 3vw;
    }

    .features__container {
        margin-top: 7vw;
        display: grid;
        gap: 3vw;
        grid-template-columns: 50% 50%;
    }

    .feature {
        margin-top: 0;
        width: 30vw;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

 

    .feature--1 {
        background-color: rgba(104, 201, 186, 0.1);
    }

    .feature--2 {
        background-color: rgba(156, 105, 226, 0.1);
        
    }

    .feature--3 {
        background-color: rgba(240, 99, 184, 0.1);
        
    }

    .feature--4 {
        background-color: rgba(45, 156, 219, 0.1);
    }

    .feature__left {
        width: 16vw;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feature__right {
        flex-basis: 50%;
        width: 15vw;
        flex-direction: column;
        align-items: flex-start;
    }

    .arrow__line1 {
        transform: rotate(45deg);
        width: 30%;
        height: 0.12vw;
        background-color: #9C69E2;
    }
    
    .arrow__line2 {
        width: 100%;
        height: 0.12vw;
        background-color: #9C69E2;
        align-self: flex-start;
    }
    
    
    .arrow__line3 {
        transform: rotate(-45deg);
        width: 30%;
        height: 0.12vw;
        background-color: #9C69E2;
    }

    .feature__image {
        position: relative;
        right: 2vw;
        width: 100%;
        justify-self: center;
        align-self: center;
    }

    .feature__heading {
        margin: 0;
        font-size: 1.5vw;
        font-weight: 400;
        line-height: 2.1vw;

    }


    .feature__text {
        margin: 0;
        text-align: left;
        font-size: 1.1vw;
        font-weight: 400;
        line-height: 1.8vw;
    }

    .feature__link {
        justify-content: flex-start;
        width: 9vw;
    }

    .feature__link__left {
        font-size: 1.1vw;
        font-weight: 800;
        line-height: 1.8vw;
        width: 7vw;
    }

    .feature__link__right {
        width: 2vw;
        height: 0.7vw;
    }

    .arrow__line1 {
        width: 0.7vw;
        height: 0.12vw;
    }

    .arrow__line2 {
        width: 2vw;
        height: 0.12vw;
    }

    .arrow__line3 {
        width: 0.7vw;
        height: 0.12vw;
    }

    .testimonials {
        margin: 5vw 15vw;
    }

    .testimonials__heading {
        font-size: 2.7vw;
        font-weight: 700;
        line-height: 3.6vw;
    }


    .testimonial {
        flex-direction: row;
        width: 35vw;
        height: 18vw;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .testimonial__left {
        flex-basis: 20%;
    }
    

    .testimonial__right{
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .testimonial__author {
        font-size: 1.2vw;
        font-weight: 900;
        line-height: 2vw;
        text-align: left;
    }

    .testimonial__contact{
        font-size: 1vw;
        font-weight: 500;
        line-height: 1.5vw;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .testimonial__text {
        text-align: left;
        font-size: 1.2vw;
        font-weight: 400;
        line-height: 2.2vw;
        width: 27vw;
        height: 10vw;
    }

    .testimonial__image {
        height: 6vw;
        width: 6vw;
    }

    .testimonials__switch-wrapper {
        margin-top: 4vw;
        width: 45vw;
    }

    .testimonials__indicator {
        width: 3vw;
    }

    .testimonials__switch {
        width: 5.5vw;
    }

    .switch__previous {
        width: 3vw;
        height: 0.6vw;
    }

    .switch__next {
        width: 1.5vw;
        height: 0.6vw;
    }

    .previous__line1 {
        width: 0.6vw;
        height: 0.12vw;
    }

    .previous__line2 {
        width: 3vw;
        height: 0.12vw;
    }

    .previous__line3 {
        width: 0.6vw;
        height: 0.12vw;
    }

    .next__line1 {
        width: 0.6vw;
        height: 0.12vw;
    }

    .next__line2 {
        width: 1.5vw;
        height: 0.12vw;
    }

    .next__line3 {
        width: 0.6vw;
        height: 0.12vw;
    }

    .circle {
        width: 0.3vw;
        height: 0.3vw;
    }

    .circle--active {
        width: 0.6vw;
        height: 0.6vw;
    }

    .footer {
        margin: 12vw 15vw 5vw 15vw;
    }

    .footer__header, .footer__bottom {
        margin: 0;
    }

    .footer__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo__text {
        font-size: 1.4vw;
        font-weight: 900;
        line-height: 2.2vw;
    }

    .social-media {
        margin: 0;
    }
    
    .social-media__heading {
        font-size: 1.1vw;
        font-weight: 900;
        line-height: 1.8vw;
    }

    .social-media__icons {
        margin-top: 2vw;
    }

    .logo__left {
        height: 1.4vw;
        width: 1.4vw;
    }

    .logo__right {
        height: 2.8vw;
        width: 1.4vw;
        margin-left: 0.6vw;
    }

    .logo {
        height: 2.8vw;
        width: 3vw;
    }

    .social-media__icon {
        width: 3vw;
        height: 3vw;
        margin-right: 1vw;
    }

    .address {
        line-height: 2vw;
        margin-top: 4vw;
        font-size: 1.1vw;
        width: 23vw;
        height: 4vw;
    }

    .contacts {
        line-height: 2vw;
        margin-top: 0.6vw;
        font-size: 1.1vw;
        width: 23vw;
        height: 4vw;
    }

    .copyright {
        line-height: 1.4vw;
        margin-top: 2.1vw;
        font-size: 0.8vw;
        width: 23vw;
        height: 4vw;
    }
}


.thanks {
    padding: 8vh 8vw;
}

.thanks__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thanks__logo {
    width: 10vw;
    height: 10vw;
}

.thanks__contacts {
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 3.8vw;
}

.thanks__image {
    width: 5.7vw;
    height: 6.8vw;
}

.thanks__content {
    margin-top: 4vw;
    width: 60vw;
}

.content__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.thanks__heading {
    margin-left: 4vw;
    font-size: 2.2vw;
    font-weight: 700;
    line-height: 5vw;
}

.thanks__text {
    font-size: 2vw;
    line-height: 3.8vw;
    margin-top: 2.5vw;
    height: 11vw;
}